<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwEFUW_wQm9YMM7YKUEfeOnJ_SrRQ9vwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>279728368946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alarmi-9c10a</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmi-9c10a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279728368946:ios:4f448960858dd8430fbb2b</string>
</dict>
</plist>